<h2>User</h2>

<h2><%= @user.username %></h2>
<% if current_user == @user %>
  <%= link_to "Edit My Account", edit_user_registration_path(current_user) %>
<% end %>
<br>

<%= image_tag @user.avatar %>

<table class="user-stats">
  <tr>
    <th colspan="5"><%= @user.username %>'s Stats</th>
  <tr>
  <tr>
    <th>Game</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Draws</th>
    <th>Total</th>
  </tr>
<% @user.game_stats.each do |stat| %>
  <tr>
    <th><%= stat.game_name %></th>
    <td><%= stat.wins %></td>
    <td><%= stat.loses %></td>
    <td><%= stat.draws %></td>
    <td><%= stat.total %></td>
  </tr>
<% end %>
</table>