<div class="section-header">

<h1 class="section-heading">My_Games </h1>

<div class="section-options">
<%= form_tag(games_player_path, method: :get) do %>
  <div class="form-group form-options-group">
    <%= collection_select(:game, :table_name, Game.all, :table_name, :name, include_blank: 'All Games', selected: @selected)%>
  </div>
  <div class="form-action form-options-action">
    <%= submit_tag "View"%>
  </div>
<% end %>
</div>

</div>

<% unless @in_progress_games.any? && @finished_games.any? %>
  <%= link_to "Start Playing Games", new_ttt_game_path, class: 'btn btn-get-started' %>
<% end %>


<% if @in_progress_games.any? %>
<div class="list">
<h2 class="list-header">In Progress</h2>

  <% @in_progress_games.each do |game| %>
    <%= link_to controller: game.class.name.tableize, action: 'edit', id: game, method: :get do %>
    <div class="list-item">
        <h4 class="list-title"><%= Game.find_by_table_name(game.class.name.tableize).name %></h4>
        <h3 class="list-title"><%= game.player1_user.username %> <small>vs</small> <%= game.player2_user.username %></h3>
        <p class="list-subtitle">Last played: <%= distance_of_time_in_words_to_now(game.updated_at)%> ago</p>
        <div class="list-message wordwrap">
          <% if current_user.id == game.current_player[:id] %>
             <span class="your-turn">Your Turn!</span>
          <% else %>
            <span class="opponents-turn"><%= game.message %></span>
          <% end %>
        </div>
      <%# link_to "Continue Game #{ttt_game.id}", edit_ttt_game_path(ttt_game) %>
    </div>
    <%# link_to "Delete", ttt_game_path(ttt_game), method: :delete %>
    <% end %>
  <% end %>
</div>
<% end %>

<% if @in_progress_games.any? %>
<div class="list">
<h2 class="list-header">Finished</h2>

  <% @finished_games.each do |game| %>
    <%= link_to controller: game.class.name.tableize, action: 'show', id: game, method: :get do %>
    <div class="list-item">
        <h4 class="list-title"><%= Game.find_by_table_name(game.class.name.tableize).name %></h4>
        <h3 class="list-title"><%= game.player1_user.username %> <small>vs</small> <%= game.player2_user.username %></h3>
        <p class="list-subtitle">Last played: <%= distance_of_time_in_words_to_now(game.updated_at)%> ago</p>
        <div class="list-message wordwrap">
          <% if current_user.id == game.winner_id %>
             <span class="your-turn">You Won!</span>
          <% elsif game.is_draw %>
            <span>Draw</span>
          <% else %>
            <span>You Lost</span>
          <% end %>
        </div>
      <%# link_to "Continue Game #{ttt_game.id}", edit_ttt_game_path(ttt_game) %>
    </div>
    <%# link_to "Delete", ttt_game_path(ttt_game), method: :delete %>
    <% end %>
  <% end %>
</div>
<% end %>