<h2>Leaderboards</h2>

<% @games.each do |game| %>
  <table class="game-leaderboard">
    <tr>
      <th colspan="5"><%= link_to "#{game.name} Leaderboard", leaderboard_game_path(game) %></th>
    <tr>
    <tr>
      <th>User</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Draws</th>
      <th>Total</th>
    </tr>
  <% rank = 1 %>
  <% game.game_stats.order(wins: :desc).each do |stat| %>
    <% unless stat.user.default_player? %>
      <tr>
        <th><%= rank %> <%= stat.user.username %></th>
        <td><%= stat.wins %></td>
        <td><%= stat.losses %></td>
        <td><%= stat.draws %></td>
        <td><%= stat.total %></td>
      </tr>
      <% rank += 1 %>
    <% end %>
  <% end %>
  </table>
<% end %>