<p>Current Player: 
  <% if @ttt_game.friend_playing? && @ttt_game.current_player_is_friend? %>
    Friend
  <% else %>
    <%= @ttt_game.current_player_user.username %>
  <% end %>
  <%= @ttt_game.current_player[:symbol] %></p>
<p>State: <%= @ttt_game.state %></p>

<p><%= @ttt_game.message %></p>



<div class="ttt-player player1 go-left">
  <p><%= @ttt_game.player1_user.username %></p>
  <p><%= @ttt_game.player1[:symbol] %></p>
</div>

<div class="ttt-player player2 go-right">
  <% if @ttt_game.friend_playing? %>
    <p><%= @ttt_game.player1_user.username %><small>'s</small> Friend</p>
  <% else %>
    <p><%= @ttt_game.player2_user.username %></p>
  <% end %>
  <p><%= @ttt_game.player2[:symbol] %></p>
</div>

<div class="ttt-message">
  <p><%= @ttt_game.message %></p>
</div>

<%= render "board" %>