
<% if @in_progress_ttt_games.any? || @finished_ttt_games.any? %>

<div class="list-wrapper">
<%= link_to "New TicTacToe Game", new_ttt_game_path, class: "btn btn-new-game btn-new-game-list" %>

<% if @in_progress_ttt_games.any? %>
<div class="list">
<h2 class="list-header">In Progress</h2>

  <% @in_progress_ttt_games.each do |ttt_game| %>
    <%= link_to edit_ttt_game_path(ttt_game) do %>
    <div class="list-item">
        <h3 class="list-title"><%= ttt_game.player1_user.username %> <small>vs</small> <%= ttt_game.player2_user.username %></h3>
        <p class="list-subtitle">Last played: <%= distance_of_time_in_words_to_now(ttt_game.updated_at)%> ago</p>
        <div class="list-message wordwrap">
          <% if current_user.id == ttt_game.current_player[:id] %>
             <span class="your-turn">Your Turn!</span>
          <% else %>
            <span class="opponents-turn"><%= ttt_game.message %></span>
          <% end %>
        </div>
      <%# link_to "Continue Game #{ttt_game.id}", edit_ttt_game_path(ttt_game) %>
    </div>
    <%= link_to "Delete", ttt_game_path(ttt_game), method: :delete %>
    <% end %>
  <% end %>
</div>
<% end %>


<% if @finished_ttt_games.any? %>
<div class="list">
<h2 class="list-header">Finished</h2>

  <% @finished_ttt_games.each do |ttt_game| %>
    <%= link_to ttt_game_path(ttt_game) do %>
    <div class="list-item">
        <h3 class="list-title"><%= ttt_game.player1_user.username %> <small>vs</small> <%= ttt_game.player2_user.username %></h3>
        <p class="list-subtitle">Finished: <%= distance_of_time_in_words_to_now(ttt_game.updated_at)%> ago</p>
        <div class="list-message wordwrap">
          <% if current_user.id == ttt_game.winner_id %>
             <span class="your-turn">You Won!</span>
          <% elsif ttt_game.is_draw %>
            <span>Draw</span>
          <% else %>
            <span>You Lost</span>
          <% end %>
        </div>
      <%# link_to "Continue Game #{ttt_game.id}", edit_ttt_game_path(ttt_game) %>
      <%# link_to "Delete", ttt_game_path(ttt_game), method: :delete %>
    </div>
    <% end %>
  <% end %>
</div>
<% end %>

</div>

<% else %>


<%= link_to "Get Started", new_ttt_game_path, class: 'btn btn-get-started' %>

<% end %>
