<h2>TttGame#show</h2>

<p><%= @ttt_game.player1_user.username %> <%= @ttt_game.player1[:symbol] %></p>
<p><%= @ttt_game.player2_user.username %> <%= @ttt_game.player2[:symbol] %></p>
<p>Current Player: <%= @ttt_game.current_player_user.username %> <%= @ttt_game.current_player[:symbol] %></p>
<p>State: <%= @ttt_game.state %></p>

<p><%= @ttt_game.message %></p>

<%= render "waiting_board" %>

  <% if @ttt_game.finished? %>
    <%= form_for @ttt_game do |f| %>
      <%= f.hidden_field :player1, value: @ttt_game.player1 %>
      <%= f.hidden_field :player2, value: @ttt_game.player2 %>
      <%= f.hidden_field :opponent, value: 'user' %>
      <%= f.hidden_field :current_player, value: @ttt_game.first_player %>
      <div class="form-action">
        <%= f.submit "New Game?" %>
      </div>
    <% end %>
  <% end %>