<%# unless @ttt_game.finished? %>
<% if false %>
  <script type="text/javascript">
          setTimeout(function(){
            window.location.reload(1);
          }, 4000);
        </script>
<% end %>

<div class="game-view" id=<%= "#{@ttt_game.which_player_show_view}" %>>
<div class="ttt-game">
  <div class="ttt-message">
    <% unless @ttt_game.finished? %>
      <p><%= @ttt_game.current_player_display_name %>'s Turn</p>
    <% else %>
      <%= simple_format(@ttt_game.message) %>
    <% end %>
  </div>

  <%= render "waiting_board" %>
  <% if @ttt_game.finished? %>
  <br>
    <%= link_to "New Game?", new_ttt_game_path, class: "btn-new-game" %>
  <% end %>
</div>

<%= render "players" %>

</div>



  <%# if @ttt_game.finished? %>
    <%# form_for @ttt_game do |f| %>
      <%# f.hidden_field :player1, value: @ttt_game.player1 %>
      <%# f.hidden_field :player2, value: @ttt_game.player2 %>
      <%# f.hidden_field :opponent, value: 'user' %>
      <%# f.hidden_field :current_player, value: @ttt_game.first_player %>
      <%# f.submit "New Game?" %>
    <%# end %>
  <%# end %>