<div class="game-view" id=<%= "#{@mttt_game.which_player_edit_view}" %>>
<div class="ttt-game">
  <div class="ttt-message">
    <% case @mttt_game.opponent %>
    <% when 'user', 'ai' %>
      <% case @mttt_game.move_state %>
      <% when 'normal' %>
        <p>Your Turn</p>
      <% when 'picking_up', 'replacing' %>
        <%= simple_format(@mttt_game.message) %>
      <% end %>
    <% when 'friend' %>
      <%= simple_format(@mttt_game.message) %>
    <% end %>
  </div>

  <% if @mttt_game.picking_up? %>
    <%= render "mttt_pick_up_board" %>
  <% elsif @mttt_game.replacing? %>
    <%= render "mttt_replace_board" %>
  <% else %>
    <%= render "mttt_board" %>
  <% end %>

  <table class="ttt-players">
    <tr>
      <th class="ttt-player1 ttt-symbol"><%= @mttt_game.player1[:symbol] %></th>
      <th class="ttt-player2 ttt-symbol"><%= @mttt_game.player2[:symbol] %></th>
    </tr>
    <tr>
      <td class="ttt-player1"><%= @mttt_game.player1_display_name %></td>
      <td class="ttt-player2"><%= @mttt_game.player2_display_name %></td>
    </tr>
    <tr>
      <td class="ttt-player1"><% @mttt_game.player1[:pieces].times do %>
      <span><%= @mttt_game.player1[:symbol] %></span>
    <% end %></td>
      <td class="ttt-player2"><% @mttt_game.player2[:pieces].times do %>
      <span><%= @mttt_game.player2[:symbol] %></span>
    <% end %></td>
    </tr>
  </table>

</div>

</div>

<%# render "players" %>