<section class="game-view" id=<%= @mttt_game.which_player_edit_view %>>

<div class="ttt-game">

    <h3 class="ttt-message"><%= simple_format(@mttt_game.message) %></h3>


  <% if @mttt_game.picking_up? %>
    <%# render partial: "mttt_pick_up_board", locals: { @valid_squares_to_pick_up => @valid_squares_to_pick_up } %>
    <%= render "mttt_pick_up_board" %>
  <% elsif @mttt_game.replacing? %>
    <%# render partial: "mttt_replace_board", locals: { @valid_squares_to_replace => @valid_squares_to_replace } %>
    <%= render "mttt_replace_board" %>
  <% else %>
    <%= render "mttt_board" %>
  <% end %>

  <div>
    <h3><%= @mttt_game.player1_display_name %></h3>
    <p>symbol: <%= @mttt_game.player1[:symbol] %></p>
    <h4><% @mttt_game.player1[:pieces].times do %>
      <span><%= @mttt_game.player1[:symbol] %></span>
    <% end %></h4>
  </div>

  <div>
    <h3><%= @mttt_game.player2_display_name %></h3>
    <p>symbol: <%= @mttt_game.player2[:symbol] %></p>
    <h4><% @mttt_game.player2[:pieces].times do %>
      <span><%= @mttt_game.player2[:symbol] %></span>
    <% end %></h4>
  </div>

</div>

</section>

<%# render "players" %>