<div class="game-view" id=<%= "#{@mttt_game.which_player_edit_view}" %>>
<div class="ttt-game">
  <div class="ttt-message">
    <% case @mttt_game.opponent %>
    <% when 'user', 'ai' %>
      <% case @mttt_game.move_state %>
      <% when 'normal' %>
        <p>Your Turn</p>
      <% when 'picking_up', 'replacing' %>
        <%= simple_format(@mttt_game.message) %>
      <% end %>
    <% when 'friend' %>
      <%= simple_format(@mttt_game.message) %>
    <% end %>
  </div>

  <% if @mttt_game.picking_up? %>
    <%= render "mttt_pick_up_board" %>
  <% elsif @mttt_game.replacing? %>
    <%= render "mttt_replace_board" %>
  <% else %>
    <%= render "mttt_board" %>
  <% end %>

  <div>
    <h3><%= @mttt_game.player1_display_name %></h3>
    <p>symbol: <%= @mttt_game.player1[:symbol] %></p>
    <h4><% @mttt_game.player1[:pieces].times do %>
      <span><%= @mttt_game.player1[:symbol] %></span>
    <% end %></h4>
  </div>

  <div>
    <h3><%= @mttt_game.player2_display_name %></h3>
    <p>symbol: <%= @mttt_game.player2[:symbol] %></p>
    <h4><% @mttt_game.player2[:pieces].times do %>
      <span><%= @mttt_game.player2[:symbol] %></span>
    <% end %></h4>
  </div>

</div>

</div>

<%# render "players" %>