<!DOCTYPE html>
<html>
<head>
  <title>GamePortalApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice || alert %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<% end %>


<header>
  <nav class="navbar group">
    <div class="go-left">
      <h1 class="navbar-header"><%= link_to "RubyGames", games_path %></h1>
    </div>

    <div class="go-right">
      <% if current_user %>
        <div class="dropdown">
          <%= link_to player_path(current_user.id), class: "navbar-account dropbtn" do %>
            <span><%= current_user.username %></span>
            <%= image_tag(current_user.avatar.thumb) %>
          <% end %>
          <div class="dropdown-content">
            <%= link_to "View Account", player_path(current_user.id) %>
            <%= link_to "Edit Account", edit_user_registration_path(current_user) %>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
          </div>
        </div>
      <% else %>
        <ul class="navbar-nav">
          <li><%= link_to "Log In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        </ul>
      <% end %>
    </div>

    <div class="go-right">
      <ul class="navbar-nav">
        <li><%= link_to "Games", games_path %></li>
        <li><%= link_to "Leaderboards", leaderboards_path %></li>
        <% if current_user %>
          <li><%= link_to "My_Games", games_player_path(current_user) %></li>
        <% end %>
      </ul>
    </div>

    
  </nav>
</header>

<section class="yield">
<%= yield %>
</section>


</body>
</html>
