<!DOCTYPE html>
<html>
<head>
  <title>GamePortalApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice || alert %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<% end %>


<header>
  <nav class="navbar group">
    <div class="go-left">
      <div class="navbar-header">
        <span class="ruby">RubyGames</span>
      </div>
    </div>
    <div class="go-right">
      <ul class="navbar-nav">
        <li><%= link_to "Games", ttt_games_path %></li>
        <% if current_user %>
          <li>
          <%= link_to current_user.username, edit_user_registration_path, class: "navbar-account" %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <%# elsif current_admin %>
          <%# current_admin.email %>
          <%# link_to "Log Out", destroy_admin_session_path, method: :delete %>
        <% else %>
          <li><%= link_to "Log In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>

<%= yield %>

</body>
</html>
