<!DOCTYPE html>
<html>
<head>
  <title>GamePortalApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<nav class="nav">
  <ul>
    <li><%= link_to "TttGames", ttt_games_path %></li>
  </ul>
</nav>

<%= yield %>

</body>
</html>
